:root {
    --white: #000000;
    --grey-fg: #eeeeee;
    --main-bg-color: #171923;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 760px auto;
    background: var(--main-bg-color);
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 44px;

    color: var(--grey-fg);
    font-family: neue-kabel, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.8;
}

footer .social,
footer .social a {
    font-size: 24px;
    color: var(--grey-fg);
}

canvas {
    background: linear-gradient(
            to right,
            var(--grey-fg) 33%,
            rgba(255, 255, 255, 0) 0%
    ) top repeat-x,
    linear-gradient(to right, var(--grey-fg) 33%, rgba(255, 255, 255, 0) 0%) bottom repeat-x,
    linear-gradient(var(--grey-fg) 33%, rgba(255, 255, 255, 0) 0%) left repeat-y,
    linear-gradient(var(--grey-fg) 33%, rgba(255, 255, 255, 0) 0%) right repeat-y;
    background-size: 20px 1px, 20px 1px, 1px 20px, 1px 20px;
}
